.hero-section {
  padding: 118px 0px;

  max-width: 480px;
  height: 400px;
  margin: 0 auto;

  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background/hero-bg-mob-2x.jpg);
  }

  @include tablet {
    padding: 118px 0px;

    max-width: 768px;
    height: 400px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background/hero-bg-tab.jpg);

    @include retina {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background/hero-bg-tab-2x.jpg);
    }
  }

  @include desktop {
    padding: 200px 0px;

    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/background/hero.jpg);

    @include retina {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background/hero-2x.jpg);
    }
  }
}

.hero-section__title {
  margin: 0 auto;

  width: 300px;

  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-colour);

  @include mobile {
    width: 360px;
    font-size: 26px;
  }

  @include desktop {
    width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}
