.conteiner {
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
  @include phone {
    width: 480px;
  }
  @include tablet {
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
