.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--second-footer-color);
}
.basement__logo {
  display: block;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-footer-color);
  text-decoration: none;
  text-align: center;
  @include tablet {
    text-align: center;
    margin-left: 55px;
  }
  @include desktop {
    margin-left: 0px;
    text-align: left;
    font-size: 26px;
    line-height: 1.19;
  }
}
.adress-style__link {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-footer-color);
  text-decoration: none;
  transition: var(--main-transition);
}
.adress-style__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: var(--main-transition);
}
.adress-style__tel:hover,
.adress-style__tel:focus {
  color: var(--accent-footer-color);
}
.adress-style__link:hover,
.adress-style__link:focus {
  color: var(--accent-footer-color);
}
.adress-style {
  text-align: center;
  padding-top: 20px;
  font-style: inherit;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
  @include desktop {
    text-align: unset;
  }
}
.footer-social {
  margin-top: 60px;
  margin-left: 0px;
  @include tablet {
    margin-top: 10px;
    margin-left: 165px;
  }
  @include desktop {
    margin-top: 10px;
    margin-left: 70px;
  }
}
.footer-social__tittle {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  @include desktop {
    text-align: unset;
  }
}
.Developer__borders {
  fill: #ffffff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: var(--main-transition);
  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.footer-social_list {
  display: flex;
  justify-content: center;
}
