.team {
  background: #f5f4fa;
}
.team-tittle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-body-color);
}
.team-worker__tittle {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-body-color);
}
.team-worker {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-body-color);
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-worker__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.Developer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--icons-primary-color);
  transition: fill var(--main-transition);
  &:hover,
  &:focus {
    background-color: #2196f3;
    fill: var(--primary-body-color);
    border-radius: 50%;
  }
}
.Developer:not(:last-child) {
  margin-right: 10px;
}
.Developer__Igor {
  margin-left: 32px;
  margin-bottom: 30px;
}
.Developer__svg {
  width: 20px;
  height: 20px;
}
