[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-check {
  width: 42px;
  height: 32px;
  background-position: 0 0;
}

