:root {
  --accent: #2196f3;
  --text-color: #757575;
  --background-team: #f5f4fa;
  --header-logo: #000000;
  --titles: #212121;
  --navigation: #212121;
  --white-colour: #ffffff;
  --btn-portfolio: #212121;
  --portfolio-btn-background: #f5f4fa;
  --for-icons: #afb1b8;
  --features-icon-backgroung: #f5f4fa;
  --animation-time: 250ms;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
  --btn-hover: #188ce8;
}
